<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <a style="color:red; text-decoration: none" href="/new">New Product</a>
    <br>
    <form action="search" method="get">
        <input type="text" placeholder="Search ..." name="keyword"><br>
        <input type="submit" value="Search"/>
    </form>
    <br>
    <h1>Management Product</h1>
    <br>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>User Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Name Product</th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${dong}">
            <td th:text = ${u.id}></td>
            <td th:text = ${u.username}></td>
            <td th:text = ${u.address}></td>
            <td th:text =${u.email}></td>
            <td th:text = ${u.nameproduct}></td>
            <td th:text = ${u.price}></td>
            <td>
                <a th:href="@{'/edit/'+${u.id}}">Edit</a>
                &nbsp;&nbsp;
                <a th:href="@{'/delete/'+${u.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>